{% extends 'base.html' %}


{% block body %}
<main class="pt-16 p-1 m-1 {% block m %} {% endblock %}  md:ml-60">

    <div class="text-center grid grid-cols-2 md:grid-cols-3 gap-2">
      
      <div class="rounded-md navcol">
        
        <div class="relative">
          
          
          <i class="z-0 text-white text-4xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bi bi-play-circle"></i>
          
          
           <img loading="lazy" class=" mx-auto rounded object-cover" loading="lazy" src="https://tiksporn.pythonanywhere.com/media/videos/thumbnail/aridnixo_nude_tiktok.png" alt="">
        </div>
           <div class="px-2 flex gap-1">
             <!--avatar-->
             <img class="mt-2 ring-1 bg-gray-500 ring-gray-400 rounded-full w-6 h-6" src="https://api.dicebear.com/9.x/bottts/svg?seed=Sophie" alt="">
             
             <p class="muted mt-2 text-gray-400">Samantha.Rx</p>
             
           </div>
           
           
           <p class="px-2 hover:text-pink-500 p-1 text-gray-300 text-start">Samantha rs is going to fuck...</p>
      </div>
      

    </div>
    
    
    <div class="gap-3 my-10 flex items-center justify-center">
    
    <a class="hover:scale-105 ring ring-1 ring-gray-600 text-white px-2 py-2 bg-gray-700 rounded-lg" href="#">Previous</a>
    
    <a class="hover:scale-105  text-white ring-1 ring-gray-600 px-2 py-2 bg-gray-700 rounded-lg" href="#">Next</a>
    
    </div>
  
    
    
    
    <div class="my-9 content text-center">
      
      
        <h2 class=" text-gray-300">All Nudes & Porn Leaks From
        
        <span class="text-gray-700 z-0 px-1 relative rounded bg-gray-200 hglt">
          OnlyFans
          
          <span class=" transform rotate-[20deg] z-0 absolute -right-4 -top-4 grayscale-[10%]">
            🐝</span>
          
          </span></h2>
          
          
          <p class="text-start px-4 my-9 text-gray-300">

Welcome to <span class="text-pink-500 site">Leaksgram</span>, where you can find all your favourite models leaks, nudes, and porn clips from Onlyfans, Twitter, Patreon, Reddit etc. Our platform always collects best nude, leak and porns from internet and give you access free with good user experience.
<br>
<br>
At <span class="site text-pink-500">LeaksGram</span>, we make sure our leaks and nudes content is easy to view and optimized for search engines.
Please visits our website daily, we upload content regularly.
          </p>
          
          
          
          
                  <h2 class="px-2 text-gray-300">Good Experience With Less
        
        <span class="text-gray-700 z-0 px-1 relative rounded bg-gray-200 hglt">
          Ads
         
          
           <span class=" transform rotate-[20deg] z-0 absolute -right-4 -top-4 grayscale-[10%]">
            📣</span>
          
        </h2>
        <p class="my-9 text-start px-4 text-gray-300">
          At <span class="text-pink-500 site">Leaksgram</span>, we focus on giving you a great experience with fewer ads. We keep our site clean so you can easily find the latest leaks and insider info about Hudes & Horn. Join us for a simple and user-friendly browsing experience.
          
        </p>
        
        
    </div>
    


</main>
{% endblock %}


