{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.css">
<script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>

{% endblock %}


{% block body %}




    <main class="pt-16 md:ml-60 md:m-1 md:p-1">
    
   
   
   <div class="grid md:grid-cols-3">
     
   <div class="md:col-span-2">
   
   
   
    <div class="w-full navcol shadow-sm">
      
      
      <div class="mt-2 user-info flex items-center p-3">
        
        <a href="#">
        <img class=" h-10 w-10 rounded-lg bg-gray-600 ring-1 ring-gray-500" src="https://api.dicebear.com/9.x/bottts/svg?seed=sdcard" alt="" />
        </a>
        
        <div class="text-gray-400 text-sm mx-2 gap-0 flex flex-col">
          
          <a class="" href="">
          
          <p class="text-gray-200 font-bold">Samantha.Rx👾</p>
          </a>
          
          <p>10 Days ago</p>
          
        </div>
        
        
      </div>



      <video class="w-[640px] h-[200px] md:w-screen md:h-[280px]"  autoplay="true" id="my-video" controls style="width: px; height: px;">
   <source src="https://pornimigur.com/content/2022/07/big-and-soft-and-squishy.mp4" type="video/mp4" /> 
</video>

      
      
      
      
      <div class="text-gray-300 py-2 px-4  video-info">
        <h1 class="!text-2xl title">Teri pyari pyari do akhiyaan, tar paye mujhe..😈</h1>
        
        
        <div class="text-sm gap-1 flex my-2 items-center justify-start">
          <i class="px-2 py-1 rounded-full bg-gray-700 bi bi-tag"></i>
          
          <a href="#">
          <p class="p-1 bg-gray-700 rounded-md">Boobs</p>
          </a>
          
              
        </div>
        
        
        
        
      </div>
      
      
    </div>
    
    
    
   <!-- video sectiond end here -->
   
   <div class="my-6 text-gray-300 flex items-center !text-lg justify-between mx-2">
     
    
    <a href="#"> <i class="bi bi-arrow-left"></i> Previous post</a>
    
        <a href="#">Next post <i class="bi bi-arrow-right"></i></a>
    
   </div>
    <!-- next previous section end -->
    
    
    </div>
    
    
    
    
    <div class="md:col-span-1">
  
  <div class="text-white shadow-sm p-5 mx-2 my-9 md:my-2 rounded navcol">
  <h2 class="mb-5 text-center !text-lg">More <span class="underline text-pink-500">Shantalx</span> nude videos</h2>


  <div class="text-center videos grid grid-cols-2 gap-2">
    <div class="relative vids">
      <i class="z-0 text-white text-4xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bi bi-play-circle"></i>
      <img loading="lazy" class="rounded-md md:h-32 h-44 w-44" src="https://pbs.twimg.com/media/GR3WqNpWsAAWr7W?format=jpg&name=large" alt="">
    </div>
    <div class="vids">
      <img loading="lazy" class="rounded-md h-44 w-44" src="https://pbs.twimg.com/media/GR3WqNpWsAAWr7W?format=jpg&name=large" alt="">
    </div>
  </div>

  <div class="mt-5">
    <a class="block w-full py-2 px-2 rounded bg-gray-700 text-center" href="#">See all leaks</a>
  </div>
</div>


<!-- ads section go brrr brrr -->


<div class="mx-2 p-3 navcol rounded shadow-sm text-white">
  1st ads
</div>


<div class="mx-2 my-2 p-3 navcol rounded shadow-sm text-white">
  2nd ads
</div>


<!-- ads section end eeee -->





    </div>
  <!-- end of the card vids -->
  </div>
  <section class="mt-12 mb-5 relatedvideos">
    
    <h2 class="mx-2 text-gray-300 tex-center my-5">Related videos</h2>
  <div class="mx-2 text-center grid grid-cols-2 md:grid-cols-3 gap-2">

      <div class="rounded-md navcol p">

        <div class="relative">


          <i class="z-0 text-white text-4xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bi bi-play-circle"></i>


           <img loading="lazy" class=" mx-auto rounded object-cover" loading="lazy" src="https://fyptt.to/wp-content/uploads/2024/07/vlcsnap-2024-07-03-23h30m28s530-396x704.jpg">
        </div>
           <div class="px-2 flex gap-1">
             <!--avatar-->
             <img class="mt-2 ring ring-gray-500 rounded-full w-6 h-6" src="https://api.dicebear.com/9.x/pixel-art/svg?seed=Sophie" alt="">

             <p class="muted mt-2 text-gray-400">Samantha.Rx</p>

           </div>


           <p class="px-2 hover:text-pink-500 p-1 text-gray-300 text-start">Samantha rs is going to fuck...</p>
      </div>







      <div class="rounded-md navcol p-1">

        <div class="relative">


          <i class="z-0 text-white text-4xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bi bi-play-circle"></i>


          <img loading="lazy" class=" mx-auto rounded object-cover" loading="lazy" src="https://fyptt.to/wp-content/uploads/2024/07/vlcsnap-2024-07-03-23h30m28s530-396x704.jpg">
        </div>
        <div class="px-1 flex gap-1">
          <!--avatar-->
          <img class="mt-2 ring ring-gray-500 rounded-full w-6 h-6" src="https://api.dicebear.com/9.x/pixel-art/svg?seed=Sophie" alt="">

          <p class="muted mt-2 text-gray-400">Samantha.Rx</p>

        </div>


        <p class="hover:text-pink-500 p-1 text-gray-300 text-start">Samantha rs is going to fuck...</p>
      </div>







    </div>
  </section>
  <!-- jjjj -->
  
  
  
    <!-- removed a div from here -->
   
    
    
    </div>
    </main>





<script>


  var testVideo = fluidPlayer(
        "my-video",
        {
            vastOptions: {
             
                adList: [
                    {
                        roll: "preRoll",
                        vastTag: "https://vast.yomeno.xyz/vast?spot_id=6055 "
                    },
                    {
                        roll: "midRoll",
                        vastTag: "https://vast.yomeno.xyz/vast?spot_id=6055 ",
                        timer: 8
                    },
                    {
                        roll: "midRoll",
                        vastTag: "https://vast.yomeno.xyz/vast?spot_id=6055 ",
                        timer: 10
                    },
                    {
                        roll: "postRoll",
                        vastTag: "https://vast.yomeno.xyz/vast?spot_id=6055"
                    }
                ]
            }
        }
    );


</script>


{% endblock %}
